docker/database/data
!docker/database/data/.gitkeep

docker/database/dumps
!docker/database/dumps/.gitkeep

application/projects/
!application/projects/.gitkeep

docker/database/nginx/app.conf

docker-compose.yml

.idea/
.env
.DS_Store
*.DS_Store
/nbproject/*
.buildpath
.project
.settings/